* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*clear*/
.clear:before,.clear:after { content:''; display: table; }
.clear:after { clear: both; }
.clear { *zoom:1;}

:root {

    --typobouton: #055280;
    --articlebouton: #56C0FF;
    --articles1: #09A4FF;
    --articles2: #09A4FF;
    --divers: #2B6080;
    --background: #EBEBEB;
    --bleulogo: #F5FEFF;
    --noir: #000000;
}


ul, ol {
    list-style: none;
}
html {
    scroll-behavior: smooth;
}

a {
    color: #ef4f1d;
    text-decoration: none;
    transition: all .4s;
}
a:hover {
    color: #333;
}
img {
    width: 100%;
}
body {
    font-family: 'Arvo', serif;
    font-size: 17px;
    line-height: 1.5;
    overflow-x: hidden;
}

@font-face {
    font-family: 'poppinsblack';
    src: url('../font/poppins-black-webfont.woff2') format('woff2'),
    url('../font/poppins-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsbold';
    src: url('../font/poppins-bold-webfont.woff2') format('woff2'),
    url('../font/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinslight';
    src: url('../font/poppins-light-webfont.woff2') format('woff2'),
    url('../font/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsregular';
    src: url('../font/poppins-regular-webfont.woff2') format('woff2'),
    url('../font/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*formulaires--------------------------*/
#addVaccinUser {
    width: 100%;
}
#addVaccinUser .title h1 {
    display: flex;
    justify-content: center;
    color: var(--articles1);
}

.wrapForm{
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.imgForm{
    width: 50%;
    padding-top: .5rem;
    background-image: url("../../divers/the_rock_formulaire.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#userModif .imgForm{
    background-image: url("../../divers/utilisateur.png");
}
#addVaccinUser .imgForm{
    background-image: url("../../divers/image2.png");
}

.form{
    width: 49%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding-top: 2rem;
    background: var(--bleulogo);
}
.formInput{
    width: 70%;
    margin: 0 auto;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    color: var(--divers);
    font-family: 'poppinsbold';
}
.formInput input{
    font-family: 'poppinsregular';
    padding-top: 1rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: var(--background);
    background: var(--bleulogo);

}
.formButtons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.formButtons .formButton{
    width: 100%;
    text-align: center;
}
.formButtons .formButton input{
    width: auto;
    min-width: 90%;
}

.formButton{
    padding-top: 2rem;
}
.formButton input{

    width: 50%;
    color: var(--typobouton);
    background-color: var(--articlebouton);
    padding: 1rem;
    border: none;
    border-radius: 25px;
    text-align: center;

}
.formButton input:hover{
}
#profilUser .wrapFormList{
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
#profilUser .form{
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding-top: 2rem;
    background: var(--bleulogo);
}
#profilUser .form input{
    margin-bottom: 1rem;
}
#login .form input{
    margin-bottom: 5rem;
}
#lostPwd .form input{
    margin-bottom: 5rem;
}

span {
    color: red;
}
/*fin de formulaire--------------------*/

.title{
    padding-top: 2rem;
    text-align: center;
    font-family: 'poppinsbold';
}
#lostPwd .title{
    padding-bottom: 2rem;
}

.errors {
    color: #ff0000;
    font-size: 0.8em;
    height: 20px;
}

/* index */
#intro .wrap4 {
    display: flex;

}
#intro .wrap .medecin .vax img {
    max-width: 100%;
    max-height: 500px;
    position: relative;
}

#intro .wrap .position {
    position: absolute;
}

#intro .wrap .article {
    position: relative;
    top: -10rem;
    right: -5vh;
    font-family: "Bebas Neue";
}

#intro .wrap .savoir {
    position: relative;
    top: -5rem;
    right: -5vh;
    font-family: "Montserrat";
}
#intro .wrap .medecin .position {
    color: white;
}
#intro .wrap .savoir a {
    padding: .5rem;
    background-color: #09A4FF;
    color: white;
}
#intro .wrap .savoir {
    list-style: none;
}

#bleu {
    font-size: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
#bleu .wrap2 {
    display: flex;
    justify-content: center;
}
#bleu .carre {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    font-family: 'Bebas Neue';
    text-align: center;
}
#bleu .carre .bleu p{
    padding: 1rem;
    margin: 2rem 5rem;
    background-color: var(--articlebouton);
    color: white;
}

/* diapo */

#diapo {
}
/*#diapo {*/
/*    padding-bottom: 15rem;*/
/*    padding-top: 15rem;*/
/*}*/
#diapo .wrap2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 6px 8px 15px 9px rgba(0,0,0,0.1);
    padding: 1rem;
}

#diapo .imgdiapo {
    width: 50%;
    padding: .5rem;
}
#diapo .text {
    width: 48%;
    font-family: "Bebas Neue";
    color: black;
    padding: 5rem 5rem;
    text-align: center;

}
#diapo .imgdiapo .moi {
    text-decoration: underline;
    font-size: 7rem;
}

#milieux {
    font-size: 1rem;
    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
}
#milieux .titre {
    text-align: center;
}
#milieux .titre .boites img {
    width: 60%;
}

.boites {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: .5rem auto;
    padding: 3rem;
}
#milieux .about {
    text-align: center;
    font-family: "Bebas Neue";
}
#milieux .wrap2 .titrebas {
    width: 100%;
    display: flex;
    justify-content: center;
}

#milieux .wrap2 .titrebas h3 {
    width: 18%;
    background-color: #00b9eb;
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 2rem;
    color: white;
}
#milieux .wrap2 .about {
    width: 100%;
    display: flex;
    justify-content: center;
}
#milieux .wrap2 .about li {
    width: 10%;
    background-color: #00b9eb;
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 1.5rem;
    list-style: none;
}
#milieux .wrap2 .about a {
    color: white;
}
#milieux .wrap2 .lore1 {
    width: 100%;
    display: flex;
    justify-content: center;
}
#milieux .wrap2 .about li {
    width: 10%;
    background-color: #00b9eb;
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 1.5rem;
    list-style: none;
    margin: 1.5rem;
}
/* BOUTON URGENCES */
#myBtn {
    font-size: 1rem;
    font-weight: bold;
    border: 3px solid #ef4f1d;
    border-radius: 5px;
    padding: .6rem 1.7rem;
    cursor: pointer;
    color: #ef4f1d;
}
#myBtn:hover {
    background-color: white;
}
#myBtn li {
    color: #ef4f1d;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 4px solid #ef4f1d;
    width: 30%;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
}
.modal-content li i {
    padding: 10px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #ef4f1d;
    text-decoration: none;
    cursor: pointer;
}
/*fin de formulaire--------------------*/

.errors {
    color: #ff0000;
    font-size: 0.8em;
    height: 20px;
}

/*masterhead-------------------------------------------------------*/
#masterhead {
    background-color: #F4FDFE;
    width: 100%;
}
#masterhead .wrap {
    display: flex;
    justify-content: space-between;
}
#masterhead .logohead {
    width: 12%;
}
#masterhead .logohead img {
    width: 10rem;
}
#masterhead .phrase {
    width: 24%;
}
#masterhead .phrase h1 {
    margin-top: 3.28rem;
    display: flex;
    justify-content: start;
    white-space: nowrap;
    font-family: 'poppinsregular';
}
#masterhead .lienhead {
    width: 48%;
}
#masterhead .lienhead .link {
    display: flex;
    justify-content: space-between;
    margin: 3rem 3rem 1rem 3rem;

}
#masterhead .lienhead .link li {
    /*padding: .6em 1.7rem;*/
}
#masterhead .lienhead .link .espace,.register, .admin {
    background-color: #0783CC;
    border-radius: 5px;
}

#masterhead .lienhead .admin{
    display: block;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    padding: .6rem 1.7rem;
    width: 20%;
    margin: 0 auto;
}
#masterhead .lienhead .admin a{
    color: white;
}
#masterhead .lienhead .admin a:hover{
    color: white;
}

#masterhead .lienhead .link .espace a,.register a {
    display: block;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    padding: .6rem 1.7rem;
}
/*#masterhead .lienhead .link .register a{*/
/*    position: fixed;*/
/*}*/
#masterhead .lienhead .link .urgence {
    font-size: 1rem;
    font-weight: bold;
    border: 3px solid #ef4f1d;
    border-radius: 5px;
    padding: .6rem 1.7rem;
}
#masterhead .lienhead .link li i {
    color: #ef4f1d;
}
#masterhead .bandeau {
    width: 100%;
    height: 5px;
    background-color: #0783CC;
}


/* FAQ */

#faq {
    width: 40%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
#faq .faq_title {
    text-align: center;
}
#faq .wrap {
    max-width: 960px;
}
.panel {
    padding:0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}
.accordion {
    background-color: deepskyblue;
    color: #444;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    margin: 10px auto;
    transition: 0.2s;
    border-radius: 10px;


}
.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
}


.active, .accordion:hover {
    background-color: #ccc;
}

/* footer */

footer{
    background-color: #F4FDFE;
}

footer .chevron {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #0783CC;
}
footer .chevron i {
    color: white;
}
footer .wrap .logo img {
    width: 7rem;
}
footer .wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #F4FDFE;
}
footer .wrap .lienfooter {
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 3rem;
    width: 100%;
}

footer .wrap .lienfooter li {
    display: inline;
    justify-content: center;
    align-items: center;
    width: 32%;
    margin: 1rem;
}
footer .wrap .lienfooter li a {
    color: black;
}
footer .wrap .lienfooter li a:hover {
    color: #56C0FF;
}
footer .wrap .suiveznous {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 32%;
    text-align: center;
    color: black;
    padding-top: .5rem;
}
footer .wrap .suiveznous .contact i {
    color: black;
    font-size: 1.5rem;
    margin: .5rem;
}
footer .wrap .suiveznous .contact i:hover {
    color: #56C0FF;
}
footer .wrap .logo {
    width: 32%;
}

footer .wrapfooter .copyright {
    background-color: #0783CC;
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 2px;
}
footer .wrapfooter .copyright i{
    margin-right: 10px;
}

/* MENTIONS LEGALES */

#mentions {
    max-width: 100%;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
}
.wrap_mentions {
    text-align: center;
    text-decoration: underline;
}
#mentions .wrap_mentions .separateur {
    border-top: 2px dashed deepskyblue;
    width: 30%;
    margin: 0 auto;
}
#mentions .mentions_main .separateur {
    border-top: 2px dashed deepskyblue;
    width: 30%;
    margin: 0 auto;
}
#mentions .wrap_mentions h2,
#mentions .wrap_mentions p {
    padding: 20px;
    text-align: justify-all;
}
#mentions .mentions_main h2,
#mentions .mentions_main p {
    padding: 20px;
    text-align: justify-all;
}
.list li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: 20px;

}
.icone-fleche {
    font-size: 24px;
    margin-right: 5px;
    position: absolute;
    color: dodgerblue;
}
.fin-mentions p {
    text-decoration: underline;
}

/* CGU */

#wrap {
    width: 960px;
    padding: 30px;
    margin: 0 auto;
}
.cgu_title {
    border: 4px solid deepskyblue;
    text-align: center;

}
.separateur {
    border-top: 2px dashed deepskyblue;
    width: 30%;
    margin: 0 auto;
}

#wrap .cgu_title h2,
#wrap .cgu_title p {
    margin-left: 20px;
    text-align: center;
}
#wrap h2,
#wrap p {
    margin-left: 20px;
    text-align: center;
}

/*Responsive_________________________________________________*/

@media only screen and (max-width: 960px) {

    .wrapForm{
        width: 90%;
    }
    .imgForm{
        display: none;
    }
    .form{
        width: 100%;
    }
    .formButtons{
        display: flex;
        flex-direction: column;
    }

    #masterhead .wrap,
    footer .wrap {
        flex-direction: column;
        align-items: center;
    }
    #masterhead .logohead,
    #masterhead .phrase h1,
    #masterhead .lienhead,
    footer .wrap .lienfooter,
    footer .wrap .suiveznous,
    footer .wrap .logo
    {
        width: 100%;
        text-align: center;
    }

    #masterhead .lienhead .link,
    footer .wrap .lienfooter ul {
        flex-direction: column;
    }

    #masterhead .lienhead .link li,
    footer .wrap .lienfooter li {
        width: 100%;
        margin: 0.5rem 0;
    }
    footer .wrap .lienfooter {
        padding: 1rem;
    }

    #masterhead .bandeau,
    footer .chevron,
    footer .wrapfooter {
        width: 100%;
    }
    #masterhead .logohead img,
    footer .wrap .logo img{
        width: 70%;
    }
    #masterhead .phrase h1 {
        margin-top: 0;
    }
    #masterhead .lienhead .admin{
        margin-bottom: 1rem;
        width: 80%;
    }
    #profilUser .wrapFormList{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #profilUser .wrapFormList .form{
        width: 90%;
        margin-bottom: 2rem;
    }
}


@media only screen and (max-width: 720px) {
    #masterhead .logohead img,
    footer .wrap .logo img{
        width: 70%;
    }

    #masterhead .phrase h1 {
        font-size: 1.3rem;
        margin-top: .5rem;
    }

    #masterhead .lienhead .link .espace a,
    #masterhead .lienhead .admin a,
    #masterhead .lienhead .link .urgence {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }

    footer .wrap .lienfooter li a {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 768px) {
    #diapo .wrap2 {
        flex-direction: column;
    }

    #diapo .imgdiapo, #diapo .text {
        width: 100%;
    }

    #bleu .carre {
        flex-direction: column;
    }

    #intro .wrap .article {
        top: -5rem;
        right: 0;
        font-size: smaller;
    }

    #milieux .boites {
        flex-direction: column;
    }
    #intro .wrap .savoir a {
        display: none;
    }
    #milieux .wrap2 .about .us a {
        display: none;
    }
    #milieux .wrap2 .lore1 p{
        display: none;
    }
    #milieux .wrap2 .titrebas {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #milieux .wrap2 .titrebas h3 {
        width: 18%;
        background-color: #00b9eb;
        text-align: center;
        font-family: "Bebas Neue";
        font-size: 2rem;
        color: white;
        border-radius: 4%;
    }
}

@media screen and (max-width: 480px) {
    #intro .wrap .savoir a {
        display: none;
    }

    .article h2, .about li a {
        font-size: smaller;
    }

    #bleu .carre .bleu p {
        margin: 1rem;
    }
}




