
/*formulaires--------------------------*/

.signin_title h1 {
    width: 20%;
    text-align: center;
    background-color: lightskyblue;
    color: blue;
    text-transform: uppercase;
    margin: 10px auto;
}
.signin_title h2 {
    text-align: center;
    margin: 1.5rem;
}
.wrapForm{
    width: 1180px;
    margin: 0 auto;
    display: flex;
}
.imgForm{
    width: 49%;
    background: lime;
}
.form{
    width: 49%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding-top: 2rem;
    background: var(--bleulogo);
}
.formInput{
    width: 70%;
    margin: 0 auto;
    padding: .3rem;
    display: flex;
    flex-direction: column;
    color: var(--divers);
}
.formInput input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: var(--background);
    background: var(--bleulogo);
}
.formButton{
    padding-top: 2rem;
}
.formButton input{

    width: 50%;
    color: var(--typobouton);
    background-color: var(--articlebouton);
    padding: 1rem;
    border: none;
    border-radius: 25px;
    text-align: center;
}
.formButton input:hover{
    color: lime;
}
span {
    color: red;
}
/*fin de formulaire--------------------*/

#masterhead {
    background-color: orange;
    text-align: center;
    align-content: center;
}
#masterhead .wrap {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}
#masterhead img {
    width: 25vh;
}
#masterhead img {
    width: 25vh;
}
#masterhead .logohead img {
    width: 10rem;
}
#masterhead .phrase {
    width: 24%;
}
#masterhead .phrase h1 {
    margin-top: 3.28rem;
    display: flex;
    justify-content: start;
}
#masterhead .lienhead {
    width: 48%;
}
#masterhead .lienhead .link {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}
#masterhead .lienhead .link li {
    /*padding: .6em 1.7rem;*/
}
#masterhead .lienhead .link .espace,.register {
    background-color: #0783CC;
    border-radius: 5px;
}
#masterhead .lienhead .link .espace a,.register a {
    display: block;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    padding: .6rem 1.7rem;
}
/*#masterhead .lienhead .link .register a{*/
/*    position: fixed;*/
/*}*/
#masterhead .lienhead .link .urgence {
    font-size: 1rem;
    font-weight: bold;
    border: 3px solid #ef4f1d;
    border-radius: 5px;
    padding: .6rem 1.7rem;
}
#masterhead .lienhead .link li i {
    color: #ef4f1d;
}
#masterhead .bandeau {
    width: 100%;
    height: 5px;
    background-color: #0783CC;
}


/* Section Styling */
#login {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    padding: 20rem;
}

.login_form {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: auto;
    width: 80%;
    max-width: 800px;
}

.log_gauche {
    background-color: #ececec;
    padding: 20px;
    width: 40%;
}

.log_gauche h2 {
    color: #333;
    margin-bottom: 10px;
}

.log_gauche h3 {
    color: #666;
    margin-bottom: 20px;
}

.inscription {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.inscription:hover {
    background-color: #00397a;
}

.log_droite {
    padding: 20px;
    width: 60%;
}

.log_droite h2 {
    color: #333;
    margin-bottom: 20px;
}

.log_input {
    margin-bottom: 15px;
}

.log_input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}



.motdepasse {
    display: block;
    color: #0066cc;
    text-decoration: none;
    margin-bottom: 20px;
}

.motdepasse:hover {
    text-decoration: underline;
}

.log_submit input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.login_form input[type="text"],
.login_form input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
}

.login_form input[type="text"]:focus,
.login_form input[type="password"]:focus {
    border-color: #66afe9;
    outline: none;
}

.login_form input::placeholder {
    color: #888;
    font-style: italic; /* Italicize placeholder text */
}


.log_submit input:hover {
    background-color: #218838;
}

/*colophon---------------------------------------------------------*/
#colophon{
    margin-top: 1rem;
}
#colophon wrap{
    align-items: center;
}
#colophon .footup{
    background: var(--vert2);
    color: var(--colorback1);
    padding: 1rem;
    font-weight: bold;
}
#colophon .footup a{
    color: var(--colorback1);
}
#colophon .footup .suiveznous{
    gap: 5rem;
}

/* user vaccine new */
#newvaccin {
    border: 3px solid black;
}

#newvaccin .wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /*border: 3px solid black;*/
}
#newvaccin .wrap .ajout label {
    text-align: center;
    align-content: center;
    border: 3px solid black;
}

.signin_title {
    display: flex;
    justify-content: center;
}
.signin_title h1 {
    color: #00b9eb;
}
.signin2_title {
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.box_form {
    display: flex;
    align-items: flex-start;
}
.box_profile_img {
    max-width: 100%;
    height: auto;
}
.form {
    padding: 20px;
    width: 100%;
    height: 400px;
    box-sizing: border-box;

}
.form input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
.form input[type="submit"] {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #2980b9;
}

.form label {
    display: block;
    margin-bottom: 5px;
}
.form a {
    color: black;
    font-size: 12px;
}
.form a:hover {
    color: dodgerblue;
}

.login_form input::placeholder {
    color: #888;
    font-style: italic; /* Italicize placeholder text */
}


.log_submit input:hover {
    background-color: #218838;
}
/*colophon---------------------------------------------------------*/
#colophon{
    margin-top: 1rem;
}
#colophon wrap{
    align-items: center;
}
#colophon .footup{
    background: green;
    color: black;
    padding: 1rem;
    font-weight: bold;
}
#colophon .footup a{
    color: darkgray;
}
#colophon .footup .suiveznous{
    display: flex;
}
#colophon .footup .suiveznous p{
    margin-right: 1rem;
}
#colophon .footup .suiveznous ul{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
#colophon .footup .suiveznous i{
    color: var(--blanc);
}

#colophon .footdown{
    padding: .5rem;
}
#colophon .footdown a{
    color: green;
    font-weight: bold;
}


